/* set the html tag all */

header,

main,

nav,

footer,

figure,

figcaption,

aside,

section,

article {

display: block;

}

/* set the body style */

body {

background-color: #4F6D93;

background-image: linear-gradient(#ffffff, #90c7e3);

color: #4F6D93;

font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

/* set the header style, image and the background color */

header {

background-color: #000033;

color: #FFFFFF;

background-image: url(images/sunset.jpg);

background-position: right;

background-repeat: no-repeat;

height: 60px;

text-align: center;

padding-top: 15px;

}

/* set the navigation style */

nav {

font-weight: bold;

padding: 20px;

float: left;

width: 160px;

}

 

nav a {

text-decoration: none;

transition: color 3s linear;

}

 

nav ul {

margin: 0;

padding-left: 0;

font-size: 1.2em;

list-style-type: none;

}

 

nav a:link {

color: #000033;

}

 

nav a:visited {

color: #344873;

}

 

nav a:hover {

color: #FFFFFF

}

/* set the header h1 style of the all page element */

h1 {

margin-bottom: 0;

font-family: Georgia, Times, "Times New Roman", serif;

margin-top: 0;

}

/* set the h2 style of the all page element */

h2 {

color: #3399CC;

font-family: Georgia, Times, "Times New Roman", serif;

text-shadow: 1px 1px 1px #cccccc;

}

/* set the h3 style of the all page element */

h3 {

color: #000033;

font-family: Georgia, Times, "Times New Roman", serif;

}

/* set the resort style */

.resort {

color: #5C7FA3;

font-weight: bold;

}

/* set the ul list image */

main ul {

list-style-image: url(images/marker.gif);

}

/* set the footer style */

footer {

font-size: 75%;

font-style: italic;

text-align: center;

font-family: Georgia, Times, "Times New Roman", serif;

padding: 20px;

margin-left: 190px;

background: #FFFFFF;

float: none;

}

 

/* set the contact style */

#contact {

font-size: 90%;

}

/* set the wrapper div id style */

#wrapper {

margin-left: auto;

margin-right: auto;

width: 80%;

background: #90C7E3;

min-width: 960px;

max-width: 2048px;

box-shadow: 3px 3px 3px #333333

}

/* set the main style */

main {

padding-top: 1px;

padding-right: 20px;

padding-left: 30px;

padding-bottom: 20px;

display: block;

background: #FFFFFF;

margin-left: 190px;

}

 

/* set the homehero div id style */

#homehero {

height: 300px;

background-image: url(images/coasthero.jpg);

background-size: 100% 100%;

background-repeat: no-repeat;

margin-left: 190px;

}

/* set the yurthero div id style */

#yurthero {

height: 300px;

background-image: url(images/yurthero.jpg);

background-size: 100% 100%;

background-repeat: no-repeat;

margin-left: 190px;

}

/* set the trailhero div id style */

#trailhero {

height: 300px;

background-image: url(images/trailhero.jpg);

background-size: 100% 100%;

background-repeat: no-repeat;

margin-left: 190px;

}

/* set the image style */

img {

max-width: 100%;

height: auto;

}

 

video,

embed {

float: right;

padding-left: 20px;

}

 

#mobile {

display: none;

}

 

#desktop {

display: inline;

}

/* set the table style */

table {

border: 1px solid #3399cc;

width: 80%;

border-spacing: 0;

}

 

td,

th {

padding: 5px;

border: 1px solid #3399cc;

}

 

td {

text-align: center;

}

 

.text {

text-align: left;

}

/* set the even table field color */

tr:nth-of-type(even) {

background-color: #f5fafc;

}

 

label {

float: left;

display: block;

text-align: right;

width: 120px;

padding-right: 9px;

}

/* set the input style */

input,

textarea {

display: block;

margin-bottom: 20px;

}

 

input[type="submit"] {

margin-left: 130px;

}

/* set the gallery style */

#gallery {

position: relative;

height: 200px;

text-align: left;

}

 

#gallery ul {

list-style-type: none;

width: 300px;

}

 

#gallery li {

display: inline;

float: left;

padding: 10px;

}

 

#gallery img {

border-style: none;

}

 

#gallery a {

text-decoration: none;

font-style: italic;

color: #eaeaea;

color: black;

}

 

#gallery span {

position: absolute;

left: -1000px;

opacity: 0;

transition: opacity 3s ease-in-out;

}

 

#gallery a:hover span {

position: absolute;

top: 16px;

left: 320px;

text-align: center;

opacity: 1;

}

 

figure {

position: absolute;

left: 280px;

text-align: center;

opacity: .2;

}

/* media screen tablet size */

@media only screen and (max-width: 64em) {

body {

margin: 0;

background-color: #ffffff;

}

#wrapper {

min-width: 0;

width: auto;

box-shadow: none;

}

main {

margin-left: 0;

}

nav {

float: none;

width: auto;

text-align: center;

padding: 0.5em;

}

nav li {

display: inline;

padding-top: 0.25em;

padding-bottom: 0.25em;

padding-left: 0.75em;

padding-right: 0.75em;

}

#homehero,

#yurthero,

#trailhero {

margin-left: 0;

height: 200px;

}

footer {

margin-left: 0

}

}

/* media screen mobile size */

@media only screen and (max-width: 37.5em) {

header {

padding-top: 1em;

}

main {

padding-top: 0.1em;

padding-bottom: 0.1em;

padding-left: 1em;

padding-right: 1em;

font-size: 90%

}

h1 {

font-size: 1.5em;

}

nav {

padding: 0;

}

nav li {

display: block;

margin: 0;

border-bottom: 2px solid #330000;

}

nav a {

display: block;

}

#homehero,

#yurthero,

#trailhero {

background-image: none;

height: 0;

}

#mobile {

display: inline;

}

#desktop {

display: none;

}

label {

float: none;

text-align: left;

}

input[type="submit"] {

margin-left: 0;

}

#gallery {

display: none;

}
}